* {
    box-sizing: border-box;
    text-align: center;
}

.top {
    color: #777;
    text-align: center;
    background-color: #ebebeb;
    padding: 30px;
 
}

.navs {
    color:#777;
    text-align: center;
    background-color:#ebebeb;
    padding: 30px;
}

.sectionL {
    color: #777;
    text-align: center;
    background-color: #ebebeb;
    padding: 1px 30px 30px 30px;
    width: 50%;
    height: 200px;
}

.articleI {
    color: #777;
    text-align: center;
    background-color: rgb(71, 68, 68);
    padding: 0px 20px 0px 20px;
    /* width: 100%; */
    height: 130px;
    margin: -20px auto;
}

.container {
    background-color:#ebebeb;
    color:#777;
    height: 30px;
}

.hTwo {
    display: inline;
    font-size: 1.5em;
    background-color:#ebebeb;
    color:#777);
    height: 30px;
    top: 5px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.hOne {
    display: inline;

    font-size: 2em;
    background-color:#ebebeb;
    color:#777;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    z-index: 5;
}

.hThree {
    display: inline;
    font-size: 1.17em;
    color:#777;
    text-align: center;
    background-color: #ebebeb;
    padding: 15px 75px 15px 75px;
    margin: 5px;
}

.asideNews {
    display: inline;
    color: #777;
    text-align: center;
    background-color:#ebebeb;
    margin: -199px 5px -34px 5px;
    bottom: -122px;
    width: 49%;
    height: 199px;
    display: inline;
    float: right;
}

.clearFix ::after {
    content: "";
    display: block;
    clear: both;
}

.footer {
    background-color:#ebebeb;
    color: #777;
    text-align: center;
}